@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

html {
  box-sizing: border-box;
  font-size: 14px;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
  background-color: var(--orrsiWhite);
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: var(--orrsiBlack);
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  /* max-width: 1200px;
  margin-left: auto;
  margin-right: auto; */

}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
